{% extends 'base.html' %}
{% load static %}

{% block title %} {% if product.category %} {{product.category.name}} {% else %} Products {% endif %}
{% endblock %}

{% block content %}

<div class="row mx-auto">
    <div class="col-4">
        {% if product.image %}
        <img src="{{ product.image.url}}" class="img-fluid" alt="">
        {% else %}
        <img src="{% static 'images/no-pic.jpg' %}" class="img-fluid" alt="">
        {% endif %}
    </div>
    <div class="col-8">
        <h1>{{product.name}}</h1>
        <b><a href="{{product.category.get_absolute_url}}">{{product.category.name}}</a></b>
        <!-- <hr> -->
        <hr>
        <p>
            {{product.description|linebreaks}}
        </p>
        <hr>
        <h3>$ {{product.price}}</h3>
    </div>
</div>

{% endblock %}